th,td{
    border: 1px solid orange;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
}
.a{
   background-color: orange; color: white; 
}
table>tbody>tr:nth-child(n)>td:nth-child(1){
  color: red;font-size: 20px;
}
  table>tbody>tr:nth-child(n)>td:nth-child(1)>sub:nth-child(n){
    color:blue; 
 }
 table>tbody>tr:nth-child(n)>td:nth-child(7){
    color: blue; 
  }
    table>tbody>tr:nth-child(n)>td:nth-child(7)>sub:nth-child(n){
      color:black; 
   }
   table>tbody>tr:nth-child(n)>td:nth-child(n){
    font-size: 30px;
   }
   table>tbody>tr:nth-child(n)>td:nth-child(n)>sub:nth-child(n){
    font-size: 10px;
   }
   table>thead>tr:nth-child(n)>td:nth-child(n){
    border:0
   }
   td{
    border: 3px solid gray;
    border-collapse:collapse;
    border-style: ridge

   }
.b{;
}
